@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<VitecMVC3.Models.Products>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var item in Model) {
        <p>@item.Title</p>
        <p>@item.Description</p>
        <p>@item.Price</p>
        <p>@item.Picture</p>
    }
</div>