@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<VitecMVC3.Models.Products>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @foreach (var item in Model) {
            <section class="section-margin mt-0">
                <div class="owl-carousel owl-theme hero-carousel">
                    <div class="hero-carousel__slide">
                        <img src="~/img/home/Cdord.jpg" alt="" class="img-fluid">
                        <a href="#" class="hero-carousel__slideOverlay">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                            <p>@item.Price</p>
                        </a>
                    </div>
                    </div>
            </section>
        }
    </div>

